*{
    font-family: Source Sans Pro;
}

.item{
    width: 250px;
    position: relative;
    margin-top: 20px;
}
.item-brand{
    position: absolute;
    top: 20px;
    background-color: white;
    padding: 2px 10px;
    font-weight: 900;
    font-size: 0.8em;
}

.item-image{
    width: 100%;
    height: 85%;
}
.item-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*General designs*/
.image{
    width: 100%;
    height: 500px;
}
.display{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.link{
    color: black!important;
    margin-right: 5px; 
}

.link-active, .link:hover{
    background-color: black;
    color: white!important;
}

.small-text{
    color: gray;
}

.no-link:hover{
    text-decoration: none;
    opacity: 0.7; 
}

.login-card{
  width: 350px;
}
.intro{
    box-shadow: 1px 2px 10px #e5e5e5;
}

/*END General designs*/


.overlap-content{
    position: relative;
    width: 540px; 
    height: 400px; 
}
.overlap-content img:nth-child(2){
    position: absolute; 
    width: 65%;
    right: 10px;
    top:30%;  
}

.last-content{ 
    height: 800px;
 font-size: 1.1em;
}
.aligner{
    margin: auto;
}

.sub-input{
    width: 350px;
}

/*Blog section*/
.blog{
    margin: 10px auto;
    width: 300px; 
    height: 400px;
    padding: 0;
    background-color: white;
}
.blog-item{
    margin: 10px auto;
    width: 300px; 
    height: 570px;
    padding: 0;
    background-color: white;
}
.blog-image{
    width: 100%;
    height: 60%;
    margin: 0;
}
.blog-img{
    width: 100%;
    height: 60%;
    margin: 0;
}
.blog-info{
    width: 80%; 
    padding: 20px 0; 
    margin: 0px auto; 
}
.blog-single-img{
    height: 430px;
    width: 100%;
}
 


/*Category page css*/
.category-link{
    padding-top:  20px;
}
.category-link a{
    text-decoration: none;
    color: darkgray;
}
.category-link a:hover { 
    color: deeppink!important;
}
.display h4{
    font-weight: 700;
}


/* End Category page css*/

/*Gallery page*/

.gallery{
    width: 370px;
    height: 400px;
    padding: 0; 
}
.gallery img{
    width: 100%;
    height: 100%; 
}
/*End Gallery page*/


/*Responsive designs*/

@media only screen and (max-width:700px){

    .mycarousel img{
        height: 300px;
    }
    
    .blog-single-img{
    height: 300px;
    width: 100%;
}
    .m-default{
        margin:10px!important;
        padding: 0px!important;
    }
}