{% extends 'dbase.html' %}
{% block toptitle %} All products {% endblock %}
{% block title %} All products {% endblock %}
{% block body %}

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0">PAID ADS</h3>

                            </div>
                            <div class="">

<!--            Blog content-->

     <h2> ALL Products </h2>
            <section class="row ">
                {% for one in products: %}
<!--                Single Item-->
                <a class="col-md-3 item  no-link text-dark" href="/single-product?id={{one.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{one.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{one.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{one.get('product_name')}}</span>
                        <span> {{one.get('product_price')}}</span></div>
                    <p>{{one.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->
                {% endfor %}

            </section>

            </div>
        </div>
    </div>
</div>
                <!-- ============================================================== -->

{% endblock %}