<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A-Jings</title>

         <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--        Font awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="icon" href="/static/images/A.png"  >
        <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <!--  Navbar    -->
  <header class=" container-fluid ">
      <nav class=" navbar navbar-light navbar-expand-md    p-4">
          <a class="navbar-brand mt-2 text-dark" href="/">
           <img src="/static/images/Ajings.png" width="140px" ></a>
          <button class="navbar-toggler" data-target="#data" data-toggle="collapse" type="button"> <span class="navbar-toggler-icon "></span> </button>
          <div class="collapse text-dark navbar-collapse" id="data">
                <ul class="navbar-nav ml-auto  h5">
                <li class="nav-item ">
                    <a class="nav-link  {% block index %}{% endblock %} link pl-3 pr-3" href="/" >Home</a>
                 </li>
                    <li class="nav-item">
                    <a class="nav-link  link pl-3 pr-3 {% block about %}{% endblock %}"    href="#about">About Us</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link link pl-3 pr-3 {% block category %}{% endblock %}" href="/category">Category</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link link pl-3 pr-3 {% block gallery %}{% endblock %}" href="/gallery">Gallery</a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link link pl-3 pr-3 {% block blog %}{% endblock %}"     href="/blog">Blog</a>
                </li>


                <li class="nav-item">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                          <input type="text" class="form-control bg-light border-0 rounded-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                            <button class="btn bg-light rounded-0" type="button">
                              <i class="fa fa-search fa-sm text-dark"></i>
                            </button>
                          </div>
                        </div>
                    </form>
                </li>
              </ul>
          </div>

      </nav>
  </header>
<!--  End Navbar    -->

        {% block body %}

        {% endblock %}



      <footer class="container-fluid mt-5  bg-dark text-light pt-5 pb-5">
            <div class="text-center">
                <h2>Join the early birds for our latest products</h2>
                <form method="post" action="/subscribe" class="display container sub-input">
                    <input placeholder="Enter email*" name="email" class="form-control bg-light border-0 rounded-0 small " type="text">
                    <input type="submit" class="btn bg-success text-light rounded-0 p-3 pl-4 pr-4 ml-3">
                </form>
            </div>


          <div class="row">
            <div class="col-md-3 text-center col-lg-3  mt-5">
<!--              Social media-->
                <div class="social-media ">
                    <h2>A-Jings Enterprise</h2>
                       <p>
                            <i class="fa fa-facebook fa-lg m-1" aria-hidden="true"></i>
                            <i class="fa fa-twitter fa-lg m-1" aria-hidden="true"></i>
                            <i class="fa fa-linkedin fa-lg m-1" aria-hidden="true"></i>
                            <i class="fa fa-youtube-play fa-lg m-1" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-lg m-1" aria-hidden="true"></i>
                      </p>
                </div>
<!--              End social media-->

            </div>
            <div class="col-md-1 col-sm-5 mt-5 text-left  p-0">
                  <ul type=none class="m-0 ">
                    <li><h6><strong>SUPPORT</strong></h6></li>
                    <li>Contact Us</li>
                    <li>FAQs</li>
                    <li>Delivery</li>
                  </ul>
            </div>
            <div class="col-md-2 col-sm-5 mt-5 text-left  p-0">
                  <ul type=none class="m-0 ">
                    <li><h6><strong>SHOP</strong></h6></li>
                    <li>Men's wear</li>
                    <li>Women's wear</li>
                    <li>Fans & Hats</li>
                    <li>Bags & Sache</li>
                    <li>Food products</li>
                  </ul>
            </div>
              <div class="col-md-2 col-sm-5 mt-5 text-left p-0">
                  <ul type=none class="m-0">
                    <li><h6><strong>COMPANY</strong></h6></li>
                    <li>Our Story</li>
                    <li>Blogs</li>
                    <li>Terms & Condition</li>
                  </ul>
            </div>
              <div class="col-md-3 col-sm-5 mt-5 text-left">
                  <ul type=none class="m-0">
                    <li><h6><strong>CONTACT</strong></h6></li>
                    <li>Location - Osu</li>
                    <li>Address - Lokko Street</li>
                    <li>0548292594 / 0266166318</li>
                    <li>info@a-jings.com</li>


                  </ul>
            </div>
          </div>

          <div class="text-center border-top border-light mt-4 pt-4">
                <p class="h6">&copy; 2020 All rights reserverd. Designed by Awinteck</p>
          </div>
      </footer>

         <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>