{% extends 'base.html' %}
{% block blog %} link-active {% endblock %}
{% block body %}
        
<!--Page Heading-->
    <header class=" small-text container mt-4 mb-2 ">
        <h6 class=" font-weight-bold "><a class="small-text" href="/">Home</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/blog">Blogs</a>
        </h6>
    </header>     
<!--End Page Heading-->
     
<!--        All Blogs-->
        <section class="container">
            <header class="text-center"><h2 class="font-weight-bold">Our Blog</h2></header>
            <div class="row"> 
<!--       Single Item-->
                {% for blog in blogs: %}
                <article class="col-sm-10 col-md-5 blog-item m-auto">
                    <img class="blog-img mt-4" src="/static/images/blogs/{{blog.get('blog_image')}}">
                    
                    <div class="mt-3 ">
                        <p class="font-weight-bold h5">{{blog.get("title")}}</p>
                        <p class="small-text">{{blog.get('paragraph_one')}}</p>
                        <p><a class="btn rounded-0 border border-dark link" href="/single-blog?id={{blog.get('id')}}"> Read all</a></p>
                    </div>
                </article>
                {% endfor %}
<!--                End Single Item--> 
                
                <!--       Single Item-->
                <article class="col-sm-10 col-md-5 blog-item  m-auto">
                    <img class="blog-img mt-4" src="/static/images/blog-4.jpg">
                    
                    <div class="mt-3">
                        <p class="font-weight-bold h5">Us yielding Fish sea night night the said him two</p> 
                        <p class="small-text">Midst one brought greater also morning green saying had good. Open stars day let over gathered, grass face one every light of under.
                        </p>
                        <p><a class="btn rounded-0 border border-dark link" href="/single-blog"> Read all</a></p>
                    </div> 
                </article>
<!--                End Single Item--> 
                
            </div>
        </section>
<!--        End All Blogs-->
        
 {% endblock %}