{% extends 'base.html' %}
{% block category %} link-active {% endblock %}
{% block body %}
        
<!--Page Heading-->
    <header class=" small-text container mt-4 mb-2 ">
        <h6 class=" font-weight-bold "><a class="small-text" href="/">Home</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/category">Category</a></h6>
    </header>     
<!--End Page Heading-->
        
<!--        Category List-->
        <article class="container">
            <section class="row">
                <header class="col-md-3 ">
                    
<!--                    single Category--> 
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#women">Women's wear</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div> 
<!--                  End single Category-->
                   
<!--                  single Category-->
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#men">Men's wear</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div>
<!--                  End single Category-->
  <!--                 single Category-->
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#kids">Kids wear</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div>
<!--                  End single Category-->
                    <!--                    single Category-->
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#kente">Kente & Smocks</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div>
<!--                  End single Category-->
                    <!--                    single Category-->
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#fans">Fans & Hats</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div>
<!--                  End single Category-->
                    <!--                    single Category-->
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#bags">Bags & Sache</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div>
<!--                  End single Category-->
                    <!--                    single Category-->
                    <div class="display border-bottom h4 font-weight-bold category-link">
                        <a class="text-dark" href="#food">Food products</a><i class="fa fa-angle-right fa-sm" aria-hidden="true"></i>
                    </div>
<!--                  End single Category-->
                </header>
                <div class="col-md-9">
                            
<!--        Carousel -->
        <div class="mycarousel">
              <div class="card bg-light text-gray-800 shadow">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-interval="5000">
                        <img src="/static/images/cover2.jpg" height="340px" width="100%"  class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5> 
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                          </div>
                      </div>
                      <div class="carousel-item" data-interval="5000">
                        <img src="/static/images/ajings.jpg" height="340px" width="100%" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                          </div>
                      </div>
                      <div class="carousel-item" data-interval="5000">
                        <img src="/static/images/cover2.jpg" height="340px" width="100%" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                          </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class='bg-dark p-3 pb-2'>
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      </span>
                      <span class="sr-only ">Previous</span>
                    </a>
                    <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
                      <span class='bg-dark p-3 pb-2'>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                  </div>
              </div>
            </div> 
<!--        End Carousel  -->

                </div>
            </section>
        </article>
<!--        End Category List-->
        
        
 <!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-5 mb-4'> 
                <h4 id="women">Women's clothing</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category=women">Show more</a>
            </header>
            <section class="row ">
                {% for product in products[:4]: %}
                {% if product.get('category') == 'women': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}

                 
            </section>
        </article>
<!--        End Group Category content-->              
<!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-4 mb-4'> 
                <h4 id="men">Men's clothing</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category=men">Show more</a>
            </header>
            <section class="row ">

           {% for product in products[:4]: %}
                {% if product.get('category') == 'men': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}
                 
            </section>
        </article>
<!--        End Group Category content-->
<!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-4 mb-4'>
                <h4 id="kids">Kids's clothing</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category=kids">Show more</a>
            </header>
            <section class="row ">

           {% for product in products[:4]: %}
                {% if product.get('category') == 'kids': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}

            </section>
        </article>
<!--        End Group Category content-->
        <!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-4 mb-4'> 
                <h4 id="kente">Kente & Smocks</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category=kente">Show more</a>
            </header>
            <section class="row ">
                {% for product in products[:4]: %}
                {% if product.get('category') == 'kente': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}
                 
            </section>
        </article>
<!--        End Group Category content-->
        
        <!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-4 mb-4'> 
                <h4 id="fans">Fans & Hats</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category=fans">Show more</a>
            </header>
            <section class="row ">
               {% for product in products[:4]: %}
                {% if product.get('category') == 'fans': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}
                 
            </section>
        </article>
<!--        End Group Category content-->
        
        <!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-4 mb-4'> 
                <h4 id="bags">Bags & Sache</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category=bags">Show more</a>
            </header>
            <section class="row ">{% for product in products[:4]: %}
                {% if product.get('category') == 'bags': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}
                 
            </section>
        </article>
<!--        End Group Category content-->
        
        <!--        Group Category content-->
        <article class="container">
            <header class='display border-bottom pb-1 mt-4 mb-4'> 
                <h4 id="food">Food products</h4>
                <a class="btn link border border-dark btn-hover-dark" href="/single-category?category='foods'">Show more</a>
            </header>
            <section class="row ">
                {% for product in products[:4]: %}
                {% if product.get('category') == 'foods': %}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->

                {% endif %}
                {% endfor %}
                 
            </section>
        </article>
<!--        End Group Category content-->
        
      {% endblock %}