{% extends 'dbase.html' %}
{% block toptitle %} Blogs {% endblock %}
{% block title %} Blogs {% endblock %}
{% block body %}

                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0"> BLOGS</h3>
                                 
                            </div>
                            <div class="">
                              
<!--            Blog content-->
            <section class="container bg-light pt-5 pb-5">
                 <h6 class="font-weight-bold text-secondary text-center">RECENT POST</h6>
                    <h1 class="text-center mb-5">BLOG <span class="font-weight-bold">POSTS</span></h1>
                <div class="row">
                    {% for one in blogs: %}
<!--                    SINGLE-->
                    <div class="col-md-5 border">
                        <article class=" intro bg-white p-0  mt-3 border border-primary">
                        <a href="/single-dblog?id={{one.get('id')}}">
                        <img  class="img-fluid" src="/static/images/blogs/{{one.get('blog_image')}}"></a>
                        
                        <h2 class="m-4"><a class="mlinks" href="/single-dblog?id={{one.get('id')}}">{{one.get('title')}}</a></h2>
                        <p class="m-4">{{one.get('paragraph_one')}}</p>
                        <p class="m-4"><strong>{{one.get('date')}}</strong> | <span class="t-color">A-Jings</span></p>
                    </article>
                    </div>
<!--                    End SINGLE-->
                    {% endfor %}

                </div>
               
            </section>
<!--            End Blog content-->
         
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->

{% endblock %}