{% extends 'dbase.html' %}
{% block toptitle %} Dashboard {% endblock %}
{% block title %} Dashboard {% endblock %}
{% block body %}

         <!-- ============================================================== -->
                <!-- Three charts -->
                <!-- ============================================================== -->
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Subscribers</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ml-auto"><span class="counter text-success">{{subscriber_total}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Products</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <div id="sparklinedash2"><canvas width="67" height="30"
                                            style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                                    </div>
                                </li>
                                <li class="ml-auto"><span class="counter text-purple">{{product_total}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Total Blogs</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                   <i style="font-size:3.5em;" class="fas fa-braille fa-lg text-info"></i>
                                </li>
                                <li class="ml-auto"><span class="counter text-info display-1">{{blog_total}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                 <div class="col-lg-6 col-sm-6 col-xs-12">
                        <div class="white-box analytics-info">
                            <h3 class="box-title">Popular products</h3>
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                   <i style="font-size:3.5em;" class="fas fa-braille fa-lg text-danger"></i>
                                </li>
                                <li class="ml-auto"><span class="counter text-danger">coming soon...</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- PRODUCTS YEARLY SALES -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- RECENT SALES -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0"> Subscribers</h3>

                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">EMAIL</th>

                                            <th class="border-top-0">DATE</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for one in subscribers[:5]: %}
                                        <tr>
                                            <td>1</td>
                                            <td class="txt-oflo">{{one.get('email')}}</td>

                                            <td class="txt-oflo">{{one.get('date')}}</td>

                                        </tr>
                                    {% endfor %}
                                        <tr>
                                            <td>2</td>
                                            <td class="txt-oflo">exampl@mail.com</td>

                                            <td class="txt-oflo">April 23, 2017</td>

                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td class="txt-oflo">exampl@mail.com</td>

                                            <td class="txt-oflo">April 22, 2017</td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->

{% endblock %}


