{% extends 'base.html' %}
{% block gallery %} link-active {% endblock %}
{% block body %}
<!--Page Heading-->
    <header class=" small-text container mt-4 mb-2 ">
        <h6 class=" font-weight-bold "><a class="small-text" href="/">Home</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/gallery">Gallery</a>
        </h6>
    </header>     
<!--End Page Heading-->
        
<!--        Gallery content-->
        <section class="container">
          <div class="row display m-auto pt-3">
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-10.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-11.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="w-100" src="/static/images/product-12.jpg">
               </div>
                
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="" src="/static/images/product-30.jpg"></div>
            </div>
         
         
         
            <div class="row display m-auto pt-3">
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-10.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-11.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="w-100" src="/static/images/product-12.jpg">
               </div>
                
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="" src="/static/images/product-30.jpg"></div>
            </div>
         
         
         
            
            <div class="row display m-auto pt-3">
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-10.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-11.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="w-100" src="/static/images/product-12.jpg">
               </div>
                
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="" src="/static/images/product-30.jpg"></div>
            </div>
         
            
             <div class="row display m-auto pt-3">
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-10.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                    <img class="w-100"
                        src="/static/images/product-11.jpg">
                </div>
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="w-100" src="/static/images/product-12.jpg">
               </div>
                
                <div class="col-lg-3 m-auto p-2 gallery" >
                <img class="" src="/static/images/product-30.jpg"></div>
            </div>
         
        </section>
<!--        End Gallery content-->
     
 {% endblock %}