{% extends 'base.html' %}
{% block index %} link-active {% endblock %}
{% block body %}
<!--        Carousel -->
        <div class="mycarousel">
              <div class="card bg-light text-gray-800 shadow">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-interval="5000">
                        <img src="/static/images/ajings.jpg" height="590px" width="100%"  class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
<!--
                            <h5>First slide label</h5> 
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
-->
                          </div>
                      </div>
                      <div class="carousel-item" data-interval="5000">
                        <img src="/static/images/cover2.jpg" height="590px" width="100%" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
<!--
                            <h5>Second slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
-->
                          </div>
                      </div>
                      <div class="carousel-item" data-interval="5000">
                        <img src="/static/images/blog-9.jpg" height="590px" width="100%" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
<!--
                            <h5>Third slide label</h5>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
-->
                          </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
                      <span class='bg-dark p-3 pb-2'>
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      </span>
                      <span class="sr-only ">Previous</span>
                    </a>
                    <a class="carousel-control-next " href="#carouselExampleControls" role="button" data-slide="next">
                      <span class='bg-dark p-3 pb-2'>
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </span>
                        <span class="sr-only">Next</span>
                    </a>
                  </div>
              </div>
            </div> 
<!--        End Carousel  -->
        
<!--        Top content-->
        <article class="container">
            <header class='text-center m-5'>
                <h6>TOP SELLING</h6>
                <h2>Top Weekend Sellers</h2>
            </header>

            <h2> Smocks & Kente </h2>
            <section class="row ">
               {% for product in products[:4]: %}
                <!--                Single Item-->
                 <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                    <div class="">
                        <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                        <p class="item-brand">{{product.get('product_type')}}</p>
                        <div class="item-info">
                            <span class="font-weight-bold">{{product.get('product_name')}}</span>
                            <span> {{product.get('product_price')}}</span></div>
                        <p>{{product.get('category')}}</p>
                    </div>
                 </a>
<!--                End Single Item-->
                {% endfor %}

            </section>


            <h2> Fans & Hats </h2>


            <h2> Bags & Sache </h2>


            <h2> Food Products </h2>



        </article>
<!--        End Top content-->
<!--        Mid content-->
        <article class=" mt-5 mb-5 bg-light">
            <section class="display">
                <div class="col-md-5 m-5">
                    <div class="container p-5">
                        <h5> BEST TRENDS</h5>
                        <h1 class="font-weight-bold">Our must haves</h1>
                        <p class="w-75">
                            Get our local bags, honey, kente/ smocks  clothes and desinger wearables. Prompt deliveries for all our products.
                        </p>
                        <a class="btn btn-dark rounded-0 p-3 pl-5 pr-5" href="/category">Shop Now <i class="fa fa-arrow-right fa-sm ml-2" aria-hidden="true"></i></a>
                    </div>
                 </div>
                    <div class="col-md-5 m-0 p-0">
                        <img class="image img-fluid d-none d-sm-none d-md-block border-top" src="/static/images/pcover.jpg">
                    </div>
                
            </section>
        
        </article>
<!--        End Mid content-->
        
<!--    last content    -->
        <article id="about" class="last-content container ">
          <section class="display">
              <div class="container d-none d-sm-none d-md-none d-lg-block ">
                  <div class="overlap-content">
                      <img class="img-fluid w-50 h-75" src="/static/images/kentem1.jpg">
                      <img class="img-fluid h-100" src="/static/images/kente7.jpg">
                  </div>
              </div>
              <div class="container  aligner ">
                  <h4 class="mt-5"> OUR STORY</h4>
                  <h1 ><strong>About our Store</strong></h1>
             
               <p class="text-justify  ">Agyiriba-jings ent is a registered company, whch seeks to promote made in ghana goods in and beyond ghana.</p>  
               
               <p class="text-justify  "> We do this by ensuring high quality standards in handling our edible products like the honey and groundnut paste which is 100% natural and organic. It is also registered and vetted by food and drugs authority</p>
               
               <p class="text-justify  "> Agyiriba-jings ent has a  clothing line which focuses on projecting ghana on the global scale. Our smocks are hand-woven with very distinctive and unique designs. Our handwoven potbags and other artefacts are very african and durable too.</p>
               
               <p class="text-justify  "> Our shea butter which is produced in the savannah region of ghana has proven to be very original and makes our customers come back every now and then.</p>
               
               <p class="text-justify  "> We have a dedicated team which prides itself in 100% customer satisfaction and don’t downplay the importance of feedback in the growth of any organization</p>
               
                    <p class="text-justify ">At agyiriba-jings enterprise also known as the jings hub,you are sure to walk home with a smile whenever you pay us a visit at our shop . Prompt deliveries are also a normal feature. </p>
              </div>
        </section>
    </article>
<!--    End last content    -->
        
<!--        Blog content-->
        <article class="container-fluid bg-light  mt-0">
            <header class='text-center pt-4'>
                <h6>OUR BLOG</h6>
                <h2>Latest in Blog</h2>
            </header>

            {% if blogs != null: %}

            <section class="row pb-5">
<!--                Single Item-->
                {% for one in blogs[:2]: %}
                <div class="col-md-3 blog">
                    <img class="blog-image" src="/static/images/blogs/{{one.get('blog_image')}}">
                    
                    <div class="blog-info">
                        <p class="small-text">{{one.get('date')}}</p>
                        <a class="text-dark" href="/single-blog?id={{one.get('id')}}"><p class="font-weight-bold h5">{{one.get('title')}}</p> </a>
                    </div> 
                </div>
                {% endfor %}
<!--                End Single Item-->

            </section>
            <p class="text-center p-4"><a class="btn link border border-dark btn-hover-dark" href="/blog">Show more</a></p>

            {% else: %}
                <h1 class="text-center p-3">No blogs available</h1>
            {% endif %}
        </article>
<!--        End Blog content-->

       {% endblock %}
