{% extends 'base.html' %}
{% block blog %} link-active {% endblock %}
{% block body %}
<!--Page Heading-->
    <header class=" small-text container mt-4 mb-2 ">
        <h6 class=" font-weight-bold "><a class="small-text" href="/">Home</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/blog">Blogs</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/blog">{{blog.get('title')}}</a>
        </h6>
    </header>     
<!--End Page Heading-->
     
<!--        All Blogs-->

        {% if blogs != null: %}
        <section class="container">
            <header class="text-center"><h2 class="font-weight-bold">Our Blog</h2>
            <h6>By Jings Hub/ {{blog.get('date')}}</h6>
            </header> 

                
                <!--       Single Item-->
                <article class=" m-auto">
                     <p class="font-weight-bold h2 text-center">{{blog.get('title')}}</p>
                    <img class="img-fluid blog-single-img mt-4" src="/static/images/blogs/{{blog.get('blog_image')}}">
                    
                    <div class="m-default m-5 pl-5 pr-5 font-weight-bold small-text">
                        <p class="font-weight-bold h4 text-dark mb-4">{{blog.get('title')}}</p>
                        <p>{{blog.get('paragraph_one')}}</p>
                        <p>{{blog.get('paragraph_two')}}</p>
                        <p>{{blog.get('paragraph_three')}}</p>
                        <p>{{blog.get('paragraph_four')}}</p>
                    </div>
                </article>
<!--                End Single Item--> 
                 
        </section>
<!--        End All Blogs-->

<!--        Blog content-->
        <article class="container  mt-0">
            <header class='text-center pt-4'> 
                <h2 class="font-weight-bold">Our Latest Blog</h2>
            </header>
            <section class="row pb-5">
<!--                Single Item-->
                {% for one in blogs[:3]: %}
                <div class="col-md-3 blog">
                    <img class="blog-image" src="/static/images/blogs/{{one.get('blog_image')}}">
                    
                    <div class="blog-info">
                        <p class="small-text">{{one.get('date')}}</p>
                        <a class="text-dark" href="/single-blog?id={{one.get('id')}}"><p class="font-weight-bold h5">{{one.get('title')}}</p> </a>
                    </div> 
                </div>
                {% endfor %}
<!--                End Single Item-->

            </section>
            <p class="text-center p-4"><a class="btn link border border-dark btn-hover-dark" href="/blog">Show more</a></p>
        </article>

        {% else: %}
                 <section class="container">
                    <header class="text-center"><h2 class="font-weight-bold">Our Blog</h2>
                    <h6>No blogs available</h6>
                    </header>
                 </section>
            {% endif %}

<!--        End Blog content-->
        
{% endblock %}