{% extends 'dbase.html' %}
{% block toptitle %} Blog {% endblock %}
{% block title %} Blog {% endblock %}
{% block body %}

<!--        All Blogs-->
<div class="container-fluid">
    <a href="/update-blog?id={{blog.get('id')}}" class="btn btn-success text-white "> Update</a>
    <a href="/delete-blog?id={{blog.get('id')}}" class="btn btn-danger text-white "> Delete</a>
</div>



        {% if blog != null: %}
        <section class="container">
            <header class="text-center"><h2 class="font-weight-bold">Our Blog</h2>
            <h6>By Jings Hub/ {{blog.get('date')}}</h6>
            </header>


                <!--       Single Item-->
                <article class=" m-auto">
                     <p class="font-weight-bold h2 text-center">{{blog.get('title')}}</p>
                    <img class="img-fluid blog-single-img mt-4" src="/static/images/blogs/{{blog.get('blog_image')}}">

                    <div class="m-default m-5 pl-5 pr-5 font-weight-bold small-text">
                        <p class="font-weight-bold h4 text-dark mb-4">{{blog.get('title')}}</p>
                        <p>{{blog.get('paragraph_one')}}</p>
                        <p>{{blog.get('paragraph_two')}}</p>
                        <p>{{blog.get('paragraph_three')}}</p>
                        <p>{{blog.get('paragraph_four')}}</p>
                    </div>
                </article>
<!--                End Single Item-->

        </section>

    {% endif%}
<!--        End All Blogs-->


{% endblock %}