{% extends 'base.html' %}
{% block category %} link-active {% endblock %}
{% block body %}
        
<!--Page Heading-->
    <header class=" small-text container mt-4 mb-2 ">
        <h6 class=" font-weight-bold "><a class="small-text" href="/">Home</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/category">Category</a>
        <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/category">{{category}}</a></h6>
    </header>     
<!--End Page Heading-->
 
<!--        Banner image-->
        <div class="container d-md-block d-sm-none" >
            <img style="background-size: cover;" src="/static/images/blog-9.jpg" height="250px" width="100%">
        </div>
<!--        End Banner image-->
        
 <!--        Group Category content-->
        <article class="container">
            <header class=' border-bottom pb-1 mt-5 mb-4 text-center'> 
                <h4 class="font-weight-bold h2" id="women">{{category}}</h4>
                
            </header>
            <section class="row ">
                {% for product in products:%}
<!--                Single Item-->
                <a class="col-md-3 item m-auto no-link text-dark" href="/single?id={{product.get('id')}}">
                <div class="">
                    <img class="item-image" src="/static/images/products/{{product.get('product_image')}}">
                    <p class="item-brand bg-dark text-light">{{product.get('product_type')}}</p>
                    <div class="item-info">
                        <span class="font-weight-bold">{{product.get('product_name')}}</span>
                        <span> {{product.get('product_price')}}</span></div>
                    <p>{{product.get('category')}}</p>
                </div>
                </a>
<!--                End Single Item-->
                {% endfor %}

            </section>
        </article>
<!--        End Group Category content-->           
        
 {% endblock %}