{% extends 'dbase.html' %}
{% block toptitle %} Product {% endblock %}
{% block title %} Product {% endblock %}
{% block body %}


<div class="container-fluid">
    <a href="/up?id={{product.get('id')}}" class="btn btn-success text-white "> Update</a>
    <a href="/delete-product?id={{product.get('id')}}" class="btn btn-danger text-white "> Delete</a>
</div>
<!--Page Heading-->
    <header class=" small-text container mt-4 mb-4 ">
        <h6 class=" font-weight-bold "><a class="small-text" href="/">Home</a>  <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/category">Category</a>
         <i class="fa fa-angle-right fa-lg mr-3 ml-3" aria-hidden="true"></i> <a class="small-text" href="/single">Product</a></h6>
    </header>
<!--End Page Heading-->


<!--        Preview Product-->
        <section class="container">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <img src="/static/images/products/{{product.get('product_image')}}" width="100%">
                </div>
                <div class="col-md-6 pl-5">
                    <div class="display">
                        <p class="mb-0">{{product.get('product_name')}}</p>
                        <p class="mb-0 text-danger border-bottom border-danger font-weight-bold">{{product.get('product_type')}}</p>
                    </div>
                    <h2 class="text-dark font-weight-bold">{{product.get('product_name')}}</h2>
                    <h5 class="text-danger font-weight-bold ">{{product.get('product_price')}}<span class="text-dark font-weight-normal"> (In Stock)</span></h5>
                    <p class="mt-5">Color: <span class="font-weight-bold">(As seen)</span></p>
                    <div>
                        <img class="border-bottom border-dark" src="/static/images/products/{{product.get('product_image')}}" width="100px">
                    </div>
                    <p class="mt-4">Size: <span class="font-weight-bold ">(All sizes)</span></p>

                    <article>
                        <h3 class="font-weight-bold">Description</h3>
                        <p class="small-text font-weight-bold">{{product.get('description')}}</p>
                        <ul type='none'>

                            <li class="font-weight-bold"><i class="fa fa-check-square-o text-primary" aria-hidden="true">
                                </i> Nation-wide Delivery (2-7 days)
                            </li>

                            <li class="font-weight-bold">
                            <i class="fa fa-check-square-o text-primary" aria-hidden="true"></i> {{product.get('payment_type')}}</li>

                            <li class="font-weight-bold">
                            <i class="fa fa-check-square-o text-primary" aria-hidden="true">
                                </i>
                                Model size: S/ M/ L
                            </li>

                         <li class="row">
                          <p class="col-md h4 mt-3">Place an Order: </p><p class="col-md h4 mt-3 font-weight-bold">Call <a class="#" href="#">+233 020-123-456</a> </p>
                         </li>
                        </ul>
                    </article>
                </div>
            </div>

        </section>
<!--        End Preview Product-->


{% endblock %}