{% extends 'dbase.html' %}
{% block toptitle %} Subscribers {% endblock %}
{% block title %} Subscribers {% endblock %}
{% block body %}

               
             <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12">
                        <div class="white-box">
                            <div class="d-md-flex mb-3">
                                <h3 class="box-title mb-0"> Subscribers</h3>

                            </div>
                            <div class="table-responsive">
                                <table class="table no-wrap">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">#</th>
                                            <th class="border-top-0">EMAIL</th>

                                            <th class="border-top-0">DATE</th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                          {% for one in subscribers: %}
                                            <tr>
                                                <td>1</td>
                                                <td class="txt-oflo">{{one.get('email')}}</td>

                                                <td class="txt-oflo">{{one.get('date')}}</td>

                                            </tr>
                                            {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock %}