{% extends 'dbase.html' %}
{% block toptitle %} Update product {% endblock %}
{% block title %} Update product {% endblock %}
{% block body %}

                <div class="container">

                    <!-- Column -->
                    <div class="">
                        <div class="card">
                            <div class="card-body">
                                 <form method="post" action="/up?id=1" class="was-validated m-4" enctype="multipart/form-data">


                                  <div class="row mb-3">
                                      <div class="col-md">
                                          <label for="validationServer01">Product name</label>
                                              <input type="text" name="product_name" class="form-control is-valid" id="validationServer01" value="Shoe" required>
                                              <div class="invalid-feedback">
                                                Fill Product Name!
                                          </div>
                                      </div>
                                      <div class="col-md">
                                          <label for="validationServer01">Product Price </label>
                                          <input type="text" name="product_price" class="form-control is-valid" id="validationServer02" value="GHS 100.00" required>
                                          <div class="invalid-feedback">
                                            Fill Product Price!
                                          </div>
                                      </div>
                                   <div class="col-md">
                                          <label for="validationServer01">Key Points </label>
                                          <input type="text" name="key_points" class="form-control is-valid" id="validationServer03" value="Key points" required>
                                          <div class="invalid-feedback">
                                            Key Points!
                                          </div>
                                      </div>
                                   </div>
                                  <div class="row">
                                    <div class="col-md">
                                       <div class="mb-3">
                                           <label for="validationTextarea">Product Description</label>
                                           <textarea name="description" class="form-control is-invalid" id="validationTextarea"  placeholder="Required example textarea" required> Product Description</textarea>
                                         </div>
                                     </div>
                                   <div class="col-md">
                                      <div class="form-group">
                                          <label for="sel1">Select list:</label>
                                          <select name="product_type" class="form-control" id="sel1">
                                            <option>Premier</option>
                                            <option>Hot</option>
                                            <option>Latest</option>
                                            <option>Limited</option>
                                          </select>
                                        </div>
                                     </div>
                                   </div>
                                  <div class='row'>

                                      <div class="col-md">
                                       <label for="validationTextarea">Category</label>
                                          <select class="form-control input-lg search-form" name="category">
                           <option selected="selected" value="">All Categories</option>
                           <option value="Vehicles" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Vehicles - </option>
                           <option value="Cars"> Cars</option>
                           <option value="Resturant"> Resturant</option>
                           <option value="Boats"> Boats</option>
                           <option value="Vehicles"> Other Vehicles</option>
                           <option value="House" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> -
                              House and Children -
                           </option>
                           <option value="Appliances"> Appliances</option>
                           <option value="Inside"> Inside</option>
                           <option value="Games"> Games and Clothing</option>
                           <option value="Garden"> Garden</option>
                           <option value="Multimedia" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Multimedia - </option>
                           <option value="Telephony"> Telephony</option>
                           <option value="Image"> Image and sound</option>
                           <option value="Real" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> -
                              Real Estate -
                           </option>
                           <option value="Apartment"> Apartment</option>
                           <option value="Home"> Home</option>
                           <option value="Vacation"> Vacation Rentals</option>
                           <option value="Grounds"> Grounds</option>
                           <option value="Houseshares"> Houseshares</option>
                           <option value="Other real estate"> Other real estate</option>
                           <option value="Services" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Services - </option>
                           <option value="Jobs"> Jobs</option>
                           <option value="Job application"> Job application</option>
                           <option value="Services"> Services</option>
                           <option value="dropoff" style="background-color:#E9E9E9;font-weight:bold;" disabled="disabled"> - Extra - </option>
                           <option value="Other"> Other</option>
                        </select>

                                      </div>

<!--                                   payment section -->
                                   <div class="col-md">
                            <label for="validationTextarea">Payment</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input name="payment_type_cash" type="checkbox" class="form-check-input" value="">Cash
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input name="payment_type_momo" type="checkbox" class="form-check-input" value="">Mobile Money
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input name="payment_type_visa" type="checkbox" class="form-check-input" value="" >Visa Card
                                </label>
                              </div>
                          </div>


<!--                                   condition -->
                                   <div class="col">
                            <label for="validationTextarea">Condition</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                  <input  type="radio" class="form-check-input" value="New" name="condition">New
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" value="Slightly Used" name="condition">Slightly Used
                                </label>
                              </div>
                              <div class="form-check disabled">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" value="Old" name="condition" >Old
                                </label>
                              </div>

                          </div>
                                  </div>

<!--                                   images -->
                                          <div class="col">
                             <!-- One Image and Message -->
                             <label for="sel1"> Product Image</label>
                             <div class="custom-file mb-3">
                                 <input type="file" name="product_image" class="custom-file-input" id="validatedCustomFile1" required>
                                 <label class="custom-file-label" for="validatedCustomFile1">Primary Image.</label>
                                 <div class="invalid-feedback">Choose Product Image</div>
                             </div>
                              <div class="container text-center h2">
                              <button type="submit" class="btn btn-success text-white"> UPLOAD</button>
                              </div>



                     <!-- End One image and Message -->

                        </div>


                              </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->

 {% endblock %}