{% extends 'dbase.html' %}
{% block toptitle %} Upload Blog {% endblock %}
{% block title %} Upload Blog {% endblock %}
{% block body %}
                <div class="container">
                    
                    <!-- Column -->
                    <div class="">
                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal form-material" method="post" action="/upload-blog" enctype="multipart/form-data">
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Title</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <textarea rows="3" name="title" class="form-control p-0 border-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Paragraph One</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <textarea rows="5" name="paraOne" class="form-control p-0 border-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Paragraph Two</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <textarea rows="5" name="paraTwo" class="form-control p-0 border-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Paragraph Three</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <textarea rows="5" name="paraThree" class="form-control p-0 border-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-md-12 p-0">Paragraph Four</label>
                                        <div class="col-md-12 border-bottom p-0">
                                            <textarea rows="5" name="paraFour" class="form-control p-0 border-0"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label class="col-sm-12">Blog Image</label>
                                        <div class="col-sm-12 border-bottom">
                                            <input type="file" name="image">                                    </div>
                                    </div>
                                    <div class="form-group mb-4">
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-success">Add Blog</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
{%  endblock %}